__macosx
backup/
$RECYCLE.BIN/
temp/
tmp/

.*
!/.gitignore

/\#ModRelease/\#ModRelease-Github-Key.txt

*.bak
*.bat
*.tmp
*.lnk
Thumbs.db
ehthumbs.db

*.7z
*.rar
*.zip
*.tar.gz

.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
.apdisk

